
{% load static %}
<!-- boolean value in django using jinja to authenticate a user -->
{% if request.user.is_authenticated %}





<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
  

  <div class="container">
    <!-- "http://127.0.0.1:8000" -->
    <a class="navbar-brand" href="{% url 'post_app:home' %}"><i class="fa-solid fa-house-user"></i></i>&nbsp;Job Search App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="vl"></div>      
    <div class="collapse navbar-collapse" id="navbarMain" style="display: flex!important; flex-basis: auto; flex-direction: column; flex-wrap: wrap; align-content: flex-start;">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
      
        <i class="fas fa-circle-notch" style="color:#4de053; min-width:40px; background-color:#183B33; padding-left:15px; padding-top:10px; margin-top:2px; max-height:32.79px;"></i><i><p style="font-size:1.2rem; color:#4de053; background-color:#183B33; margin: 2px 0 0 0; padding-top:4px;" >logged in&nbsp;&nbsp;&nbsp;</p></i>
    
        <li class="nav-item" style="display: flex; align-items:center; min-width:100px;">
       
          <!-- "http://127.0.0.1:8000/users/logout/#" -->
          <a class="nav-link active" aria-current="page" href="{% url 'job_app:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i><i>&nbsp;</i>Log Out</a>
        </li>
        <div class="v2"></div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-briefcase">&nbsp;</i>Hiring
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Add a Job</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Edit a Job</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Delete a Job</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-binoculars">&nbsp;</i>Seeking
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Add a Job</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Edit a Job</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Delete a Job</a></li>
          </ul>
        </li>
        
      </ul>
    </div><!--/.nav-collapse -->
    
  </div>
  <div class="input-group rounded" style="max-width:200px; margin-right:40px;">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
</nav>

{% else %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="container">
   <!-- "http://127.0.0.1:8000/users/home/#" -->
    <a class="navbar-brand" href="{% url 'post_app:home' %}"><i class="fas fa-home"></i></i>&nbsp;Job Search App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="v3"></div>      
    <div class="collapse navbar-collapse" id="navbarMain" style="display: flex!important; flex-basis: auto; flex-direction: column; flex-wrap: wrap; align-content: flex-start;">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <i class="fas fa-circle-notch" style="color:red; min-width:40px; background-color:#183B33; padding-left:15px; padding-top:10px; margin-top:2px; max-height:32.79px;"></i><i><p style="font-size:1.2rem; color:red; background-color:#183B33; margin: 2px 0 0 0; padding-top:4px;">logged Out&nbsp;&nbsp;&nbsp;</p></i>

        <li class="nav-item" style="display: flex; align-items:center; min-width:92px;">
        <!-- "http://127.0.0.1:8000/users/login/#" -->
          <a class="nav-link active" aria-current="page" href="{% url 'job_app:login' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;<i>Log In</i></a>
        </li>
        <div class="v3"></div>
        <li class="nav-item" style="display: flex; align-items:center; min-width:102px;" >
          <!-- "http://127.0.0.1:8000/users/register/#" -->
          <a class="nav-link" href="{% url 'job_app:register' %}"><i class="fas fa-pen"></i>&nbsp;<i style="padding-right:10px;">Register Now</i></a>
        </li>
        <div class="v2"></div>    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-briefcase">&nbsp;</i>Hiring
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-binoculars">&nbsp;</i>Seeking
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
      </ul>
    </div><!--/.nav-collapse -->
    
  </div>
  <div class="input-group rounded" style="max-width:200px; margin-right:40px;">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
</nav>






{% endif %}