{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'nav_bar/navbar_3.html' %}

<div class="user_detail_main">

<div class="row" style="margin-top:50px; margin-right:auto; margin-left:auto; max-width:600px;"> 

    <div style="padding-top:50px;">

        <!-- Conditioanl rendering  -->
        {% if request.user == user %}
        <a href="{% url 'job_app:update' user.username %}" class="link-secondary" title="" >
            <i class="fa fa-edit" style="font-size:1.9rem; color:#d1e7dd;">Edit: First/Last Name/Email&nbsp;&nbsp;&nbsp;</i>

        </a>
        {% endif %}
<!--
        <img src="{% static user.user_images.url %}" alt="{{ user.username }}" class="rounded-circle" height="300" width="300">
-->
<br>
<br>
</div>
<div class="user-detail" style="display:flex; flex-direction:column; align-items:center; margin-top:20px; color:black;">
<i class="fas fa-user-circle" style="font-size:3rem; color:#d1e7dd" ;></i>
<h1 class="d-flex">{{user.username}}</h1>
</div>
        
        
  
    <table class="table table-success table-striped ">
        <thead>
          <tr>
            <th scope="col">First Name</th>
           
            <th scope="col">Last Name</th>
          
            <th scope="col">Joined</th>

            <th scope="col">Email</th>
          </tr>
        </thead>
<!--
            <th scope="col">Job Field</th>
          </tr>
        </thead>
      -->        
        <tbody>
          <tr>
         
            <td>
                {% if user.first_name %}
                {{user.first_name}}
                {% else %}
                Not Provided
                {% endif %}
            </td>

            <td>
                 {% if user.last_name %}
                {{user.last_name}}
                {% else %}
                Not Provided
                {% endif %}

            </td>
            <td>{{user.date_joined | naturaltime}}</td>
            <td>{{user.email}}</td>
      
        </tbody>
      </table>

<!--
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
           
          </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Job Category</th>
            <td>Automotive</td>
              
            </tr>
          <tr>
            <th scope="row">Job Postings</th>
            <td>3 </td>
          
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td>San Diego, CA</td>
           
          </tr>
          <tr>
            <th scope="row">Availability</th>
            <td>ASAP</td>
           
          </tr>
        </tr>
        <tr>
          <th scope="row">Job Hours</th>
          <td>Part-Time</td>
         
        </tr>
        <tr>
            <th scope="row">Jobs Followed</th>
            <td>0</td>
           
          </tr>
          <tr>
            <th scope="row">Job Followers</th>
            <td>0</td>
           
          </tr>
        </tbody>
      </table>

      
</div>


<!-- Job posting's to appear in decending order  -->
<h1  class="d-flex justify-content-center">Your Job Postings</h1>
<div class=".row d-flex"></div>


<div class="row d-flex justify-content-center pb-5 mb-5">

    {% for post in user.post.all %}

        <!-- 'with' passes a context variable to the partial -->
        {% include 'posts/card2.html' with post=post%}

    {% endfor %}

</div>



</div>
{% endblock content %}